<!-- views/index.ejs -->
<html>
<head>
    <title><%= subject %></title>
</head>
<body>
    <h1>Welcome to <%= name %>!</h1>
    <p>Check out our website: <a href="<%= link %>"><%= link %></a></p>
</body>
</html>
